.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: gold;
}

.dialog img {
    width: 30px;
    border-radius: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: black;
    padding: 5px;
}

.element{
    background-color: aqua;
    border-radius: 5px;
    padding: 3px;
}

.textAreaBox{
    width: 400px;
    height: 40px;
}